# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/base-cohort.csproj.nuget.g.targets
obj/Debug/netstandard2.0/base-cohort.AssemblyInfo.cs
obj/Debug/netstandard2.0/base-cohort.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/base-cohort.assets.cache
obj/Debug/netstandard2.0/base-cohort.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/base-cohort.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
.vs/base-cohort/DesignTimeBuild/.dtbcache.v2
obj/base-cohort.csproj.nuget.dgspec.json
obj/base-cohort.csproj.nuget.g.props
NuGet.Config
obj/Debug/netstandard2.0/universal-cohort.AssemblyInfo.cs
obj/Debug/netstandard2.0/universal-cohort.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/universal-cohort.assets.cache
obj/Debug/netstandard2.0/universal-cohort.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/universal-cohort.GeneratedMSBuildEditorConfig.editorconfig
obj/universal-cohort.csproj.nuget.dgspec.json
obj/universal-cohort.csproj.nuget.g.props
obj/universal-cohort.csproj.nuget.g.targets
.vs/universal-cohort/v17/.suo
.vs/base-cohort/v17/.futdcache.v1
.vs/universal-cohort/DesignTimeBuild/.dtbcache.v2
/.vs/universal-cohort/FileContentIndex
.vs/universal-cohort/v17/.futdcache.v1
.vs/universal-cohort/v17/.futdcache.v2
/bin/Debug
/bin/Release
/obj/Debug
/obj
.vs/universal-cohort/DesignTimeBuild/.dtbcache
.vs/universal-cohort/v16/.suo
.vs/universal-cohort/v16/Server/sqlite3/db.lock
.vs/universal-cohort/v16/Server/sqlite3/storage.ide
universal-cohort.sln
